
body {
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(90deg, #1900ff, #001055);
}

button {
    width: 180px;
}

.row.row-cols-1.row-cols-md-3.g-3 {
    gap: 1rem;
}

.card {
    min-height: 100%;
}
